# Ignore Mill project specific directories and files
/.mill
/target

# Ignore IntelliJ IDEA specific files and directories
.idea

# Ignore Visual Studio Code specific files and directories
.vscode

# Ignore Eclipse specific files and directories
.classpath
.project
.settings

# Ignore operating system and editor backup files
.DS_Store
*.swp
*~

# Ignore log files and directories
logs/
*.log

# Ignore compiled files and directories
/out/
/.bloop/
/.metals/

# Ignore SBT specific files
.project
.target/
project/project
project/target
project/

# Ignore dependency directories
lib_managed/
target

# Ignore OS-specific files
.DS_Store
Th
